{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">Client's list</h1>
{% endblock %}

{% block contenido_que_cambia %}

<ul>
    <h1>Clients</h1>

    {% for client in clients %}
    <li>
        Name: {{ client.name }} //
        Surname: {{ client.surname }} //
        Job: {{ client.job }}
    </li>

    <a class="btn btn-danger" href="{% url 'deleteClient' client.id %}">Delete </a>
    <a class="btn btn-success" href="{% url 'editClient' client.id %}">Edit </a>
    {% endfor %}


</ul>

<a class="btn btn-primary" href="{% url 'clientForm'  %}">Add Client</a>
{% endblock %}