<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1 style="color: #0000ff"> Welcome to my App</h1>
        <a href="/family" target="blank">Click here to view my Family Members</a>
        <div>
            <a href="https://github.com/bautiinsua1210/app_bautista_insua" target="_blank">Click here to access to my Repository</a>
        </div>
</body>
</html>